@import '../../variables.scss';

.info-block {
  background-color: #ffffff;
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  text-align: left;
  box-shadow: 0 2px 5px $box-shadow-color;
  position: relative;

  h3 {
    margin: 0;
    display: inline-block;
    color: $primary-color;
  }

  span.material-icons {
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;

    @media (max-width: 910px) {
      display: none;
    }
  }

  .completion-text {
    margin: 10px 0;
    font-weight: bold;
    color: $primary-color;
  }

  .range-display {
    background: $range-background-color;
    border-radius: 4px;
    height: 8px;
    position: relative;

    .range-indicator {
      background: $primary-color;
      height: 100%;
      border-radius: 4px;
    }
  }
}
