@import '../../variables.scss';

.sidebar {
  width: 250px;
  background-color: $sidebar-bg-color;
  color: $header-text-color;
  transition: width 0.3s;
  position: relative;

  &.hidden {
    width: 60px;
  }

  nav {
    ul {
      list-style-type: none;
      padding: 0;

      .nav-item {
        display: flex;
        align-items: center;
        padding: 15px;
        color: $header-text-color;
        text-decoration: none;

        &:hover {
          background-color: darken($sidebar-bg-color, 10%);
        }

        .material-icons {
          font-size: 20px;
          margin-right: 10px;
        }

        .nav-text {
          transition: opacity 0.3s;
        }
      }
    }
  }

  @media (max-width: 768px) {
    position: fixed;
    width: 100%;
    height: auto;
    left: 0;
    z-index: 2;
    transition: top 0.3s;

    ul {
      display: flex;
      justify-content: space-around;

      li {
        width: 100%;
      }
    }

    &.visible {
      top: 60px;
    }

    &.hidden {
      top: -100%;
    }
  }
}
