$background-color: #EFF5F3;
$primary-color: #8C70B8;
$text-color: #333;
$border-color: #dee2e6;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$range-background-color: #e9ecef;
$sidebar-bg-color: #8C70B8;
$header-bg-color: #8C70B8;
$header-text-color: #fff;
